/* forms */
section.contactMe {
  // background: linear-gradient(0, 0, 50, 0.5), rgba(0, 0, 50, 0.5);
  background: url(../img/down.jpg) no-repeat center center/cover;

  // position: absolute;

  max-height: 100vh;
  margin-bottom: 2rem;
}
.contact-title {
  margin-top: 1rem;
  padding-top: 1rem;
  color: white;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.form-group {
  margin-bottom: 30px;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 300px;
  height: 90vh;
  // background-color: rgba($color: #000000, $alpha: 0.57);
}

form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: #fff;
  font-size: 10px;
  margin: 0 auto 12px auto;
}

input {
  height: 30px;
  transition: all 0.5s ease-in-out;

  &:focus {
    border-bottom: 1px solid #ff5722;
  }
}

textarea:focus {
  transition: all 0.5s ease-in-out;
  border-bottom: 1px solid #ff5722;
}

form .submit {
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  display: block;
  margin-top: 20px;
  width: 100%;
}

form .submit:hover {
  background-color: #f44336;
  cursor: pointer;
}
